header {
    padding: 20px;
        h1{
            color: white;
            float: left;
            font-family: 'Aboreto'
                nav{
                    color: white;
                    padding: 10px 30px;
                    text-decoration: none;
                    border-right-style: solid;
                    float: right;
                    font-family: 'Aboreto'
                }
        }
    
}
